.page__footer {
  margin: 0 16px 24px;
}

@media screen and (min-width: 768px) {
  .page__footer {
    margin: 0 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .page__footer {
    margin: 0 auto 24px;
  }
}
