.photo-grid {
  min-width: 288px;
  display: grid;
  grid-template-columns: minmax(288px, auto);
  row-gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    min-width: 928px;
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    min-width: 1184px;
    grid-template-columns: repeat(4, 284px);
    grid-auto-rows: 213px;
    gap: 16px;
  }
}
