.lead__title {
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  margin: 0 16px 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    margin: 0 auto 32px;
    font-size: 96px;
    line-height: 100px;
  }
}


