.page__place {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .page__place {
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1280px) {
  .page__place {
    margin-bottom: 80px;
  }
}
