.lead__subtitle {
  max-width: 288px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  margin: 0 auto 40px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    margin-bottom: 64px;
  }
}
