.intro__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 34px;
}

/* макс шир */
/* @media screen and (min-width: 1024px) {
  .intro__text {
    max-width: 690px;
  }
} */
