.content__photo-grid {
  margin: 0 16px 64px;
}

@media screen and (min-width: 768px) {
  .content__photo-grid {
    margin: 0 24px 88px;
  }
}

@media screen and (min-width: 1024px) {
  .content__photo-grid {
    margin: 0 auto 92px;
  }
}
