.lead {
  min-width: 320px;
  min-height: 406px;
}

@media screen and (min-width: 768px) {
  .lead {
    min-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    min-width: 928px;
  }
}
