.cover {
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
  }
}
