.header__lang-link {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    min-width: 22px;
    min-height: 20px;
    line-height: 20px;
}

.header__lang-link:first-of-type {
    border-bottom: 2px solid #fff;
}